# Exercise # 1:
Given a Python list you should be able to display Python list in the following order

aLsit = [100, 200, 300, 400, 500]

Expected output:

[500, 400, 300, 200, 100]

In [10]:
aList = [100, 200, 300, 400, 500]
aList[::-1]

[500, 400, 300, 200, 100]

# Exercise # 2: 

Concatenate two lists index-wise

list1 = ["M", "na", "i", "Ke"] 

list2 = ["y", "me", "s", "lly"]

Expected output:

['My', 'name', 'is', 'Kelly']

In [11]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
full_name = [a + b for a, b in zip(list1,list2)]
print(full_name)

['My', 'name', 'is', 'Kelly']

# Exercise Question 3: 
Given a Python list. Turn every item of a list into its square

aList = [1, 2, 3, 4, 5, 6, 7]

Expected output:

[1, 4, 9, 16, 25, 36, 49]

In [12]:
aList = [1, 2, 3, 4, 5, 6, 7]
for i in range(len(aList)):
    aList[i]*=aList[i]
aList

[1, 4, 9, 16, 25, 36, 49]

# Exercise # 4: 
Concatenate two lists in the following order

list1 = ["Hello ", "take "]

list2 = ["Dear", "Sir"]

Expected output:

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [5]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
empty=[]
for i in list1:
    for x in list2:
      empty.append(i+x)
print(empty)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

# Exercise # 5: 
Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order

list1 = [10, 20, 30, 40]

list2 = [100, 200, 300, 400]

Expected output:

10 400

20 300

30 200

40 100

In [13]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
list2=list2[::-1]
for i, x in zip(list1, list2):
    print(i,x)

10 400
20 300
30 200
40 100

# Exercise # 6 :
Remove empty strings from the list of strings

list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

Expected output:

["Mike", "Emma", "Kelly", "Brad"]

In [14]:
list1 = ["Mike","","Emma","Kelly","","Brad"]
ans = [i for i in list1 if i.split()]
ans

['Mike', 'Emma', 'Kelly', 'Brad']

# Exercise # 7 :
Write a Python program to convert temperatures to and from celsius, fahrenheit. Go to the editor
[ Formula : c/5 = f-32/9 [ where c = temperature in celsius and f = temperature in fahrenheit ]
Expected Output :
60°C is 140 in Fahrenheit
45°F is 7 in Celsius

In [15]:
print("Conversion of Celsius Into Fahrenheit And Fahrenheit Into Celsius")
temp= (input("Enter Temp  with unit: "))
value=int(temp[:-1])
unit=temp[-1].upper()
if unit=="C":
  f=(value//5)*9 +32
  print(value,unit,"is",f,"in Fahrenheit")
elif unit=="F":
  c=((value-32)*5)//9
  print(value,unit,"is",c,"in Celsius")

Conversion of Celsius Into Fahrenheit And Fahrenheit Into Celsius
Enter Temp  with unit: 60C
60 C is 140 in Fahrenheit

# Exercise # 8
Write a Python program to guess a number between 1 to 9.
Note : User is prompted to enter a guess. If the user guesses wrong
then the prompt appears again until the guess is correct, on successful guess,
user will get a "Well guessed!" message, and the program will exit.

In [16]:
user=int(input("Enter Guess num B/T 1 to 9: "))
num=4
while True:
  if user==num:
    print('"Well guessed!"')
    break
  user=int(input("Enter guess num B/T 1 to 9: "))

Enter Guess num B/T 1 to 9: 2
Enter guess num B/T 1 to 9: 7
Enter guess num B/T 1 to 9: 9
Enter guess num B/T 1 to 9: 4
"Well guessed!"

# Exercise # 9
Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.

In [17]:
for i in range(0,7):
  if i==3 or i==6:
    continue
  print(i)

0
1
2
4
5

# Exercise # 10
Write a Python program which iterates the integers from 1 to 50.
For multiples of three print "it is multiple of 3" instead of the number 
and for the multiples of five print "multiple of 5". For numbers which are 
multiples of both three and five print "multiple of both 3 and 5"

In [18]:
for num in range(1,51):
  if (num % 3==0) and (num %5==0):
    print("multiple of both 3 and 5")
    continue
  if num % 5==0:
    print("multiple of 5")
    continue
  if num % 3==0:
    print("it is multiple of 3")
    continue
  else:
    print(num)

1
2
it is multiple of 3
4
multiple of 5
it is multiple of 3
7
8
it is multiple of 3
multiple of 5
11
it is multiple of 3
13
14
multiple of both 3 and 5
16
17
it is multiple of 3
19
multiple of 5
it is multiple of 3
22
23
it is multiple of 3
multiple of 5
26
it is multiple of 3
28
29
multiple of both 3 and 5
31
32
it is multiple of 3
34
multiple of 5
it is multiple of 3
37
38
it is multiple of 3
multiple of 5
41
it is multiple of 3
43
44
multiple of both 3 and 5
46
47
it is multiple of 3
49
multiple of 5

# Exercise # 11
Write a Python program to create the multiplication table (from 1 to 10) of a number.

In [8]:
num=int(input("Enter num to see its table"))
for i in range(1,11):
  print(num,"x",i,"=",num*i)

Enter num to see its table5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# Exercise # 12
Get all diagonal of matrix and sum of it :
matrix = [[1,2,3,4], [2,3,4,5], [3,4,5,6], [4,5,6,7]]

In [9]:
matrix = [[2,2,3,4], 
          [2,3,4,5], 
          [3,4,5,6], 
          [4,5,6,7]]
# nhi samjh aa ing fly hoing