Q1) Write a Python program to sum all the items in a list

In [11]:
add= [12,2,34,6]
print("Sum of all num:",sum(add))

Sum of all num: 54


Q2) Write a Python program to multiplies all the items in a list

In [4]:
mul = [2,5,8,5,10]
def multiply(numbers):  
    total = 1
    for x in numbers:
        total *= x  
    return total  
print("Product of all num :",multiply(mul))

Product of all num : 4000

Q3) Write a Python program to copy a list.

In [5]:
old=[9,6,4,8]
new=old.copy()
print("old:",old)
print("new:",new)

old: [9, 6, 4, 8]
new: [9, 6, 4, 8]

Q4) Write a Python program to remove 1st 3rd and 5th element from a list and 
return the list

In [6]:
task=[9,67,45,20,18,50,37,32,11]
print("This value is remove :",task.pop(1),task.pop(3),task.pop(5))
print(task)

This value is remove : 67 18 32
[9, 45, 20, 50, 37, 11]

Q5) Write a python program to take index from user and remove that element from list

In [7]:
sol=[270,350,567,78,45,67]
index=int(input("Enter index to Remove:"))
sol.pop(index)
sol

Enter index to Remove:3

[270, 350, 567, 45, 67]

Q6) Given a Python list. Turn every item of a list into its square

In [8]:
square=[4,6,8,2]
for i in range(len(square)):
    square[i]*=square[i]
square

[16, 36, 64, 4]

Q7) Given a Python list, find value 20 in the list, and if it is present, 
replace it with 200

In [9]:
list1 = [5, 10, 15, 20, 25, 50, 20]
for i in range (len(list1)):
    if list1[i]==20:
        list1[i]=200
list1

[5, 10, 15, 200, 25, 50, 200]

Q8) Given a Python list you should be able to display Python list in the following order

List1 = ['e', 'a', 'u', 'o', 'i']
expected output = ['a', 'e', 'i', 'o', 'u']

In [10]:
List1 = ['e', 'a', 'u', 'o', 'i']
List1.sort()
print(List1)

['a', 'e', 'i', 'o', 'u']